html
    head
        title Add record
    body
        form(method='post')
            input(type='text', name='text', placeholder='What you need to do?')
            br
            input(type='number', min='1', max='5', name='priority', placeholder='Choose priority')
            br
            button(type='submit') Submit