html
    head
        title Login
    body
        form(action="/login", method="POST")
            input(name="login", type="text", placeholder="Login")
            input(name="pass", type="password", placeholder="Password")
            button(type="Submit") Submit
        if(message)
            p= message