html
    head
        title Register
    body
        form(action="/register", method="POST")
            input(name="username", type="text", placeholder="Login")
            input(name="password", type="password", placeholder="Password")
            if(createAdmin)
                input(name='createAdmin', type='checkbox')
                a Create admin
            button(type="Submit") Submit
        if(message)
            p= message
